<% cache url do %>
  <tr>
    <td>
      <center><%= link_to url.long_url, url %></center>
    </td>
    <td>
      <p class='center'>
        <span short_url='url.short_url'><%= link_to request.base_url + '/urls/' + url.short_url, url_path(url.short_url) %> </span>
      </p>
    </td>
    <td>
      <center>
        <%= link_to 'Edit', edit_url_path(url),
                    method: :get,
                    class: 'edit' %>
        <%= link_to 'Delete', url,
                    method: :delete,
                    data: { confirm: "Are you sure you want to delete this URL?" },
                    class: 'delete' %>
      </center>
    </td>
  </tr>
<% end %>




