<% cache url do %>
  <tr>
    <td>
      <p class='center'>
        <%= link_to url.display_url, url %>
      </p>
    </td>
    <td>
      <p class='center'>
        <span short_url='url.short_url'><%= link_to request.base_url + '/' + url.short_url, short_url_path(url.short_url) %> </span>
      </p>
    </td>
    <td>
      <p class='center'>
        <%= link_to 'Edit', edit_url_path(url),
                    method: :get,
                    class: 'edit' %>
        <%= link_to 'Delete', url,
                    data: { method: 'delete',
                            remote: true,
                            confirm: 'Are you sure you want to delete this URL?' },
                    class: 'delete' %>
      </p>
    </td>
  </tr>
<% end %>




