<div id="particles-js">
  <% provide(:title, 'Edit URL') %>
  <h1>Change your URL</h1>


  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>
      <%= form_for(@url) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.text_field :long_url, class: 'form-control', placeholder: @url.long_url %>

        <%= f.submit 'Generate a Short URL', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>