<% provide(:title, 'All URLs') %>
<div class="margin-top">
  <h1>List of URLs</h1>
</div>

<%= will_paginate %>

<ul class="urls">
  <table class='table table-hover table-bordered'>
    <thead class="thead-inverse">
      <tr>
        <th><center>Original URL</center></th>
        <th><center>Short URL</center></th>
        <th><center>Actions</center></th>
      </tr>
    </thead>
  <%= render @urls %>
  </table>
</ul>

<%= will_paginate %>
