<% provide(:title, 'Show URL') %>
<table style="width:50%">
  <tr>
    <td><h2>Long URL</h2></td>
    <td><h2>Generated Short URL<h2></td> 
  </tr>
  <tr>
    <td>
      <center><%=@url.long_url%></center>
    </td>
    <td>
      <center><%=@url.short_url%></center>
    </td>
  </tr>
</table>