<header>
  <div class="container">
    <% if current_page?(root_path) || params[:action] == 'create'%>
      <nav>
        <ul>
          <li><%= link_to "List of Shortened URLs", urls_path, id: "logo" %></li>
        </ul>
      </nav>
    <% end %>
    <% if current_page?(urls_path) %>
      <nav>
        <ul>
          <li><%= link_to "Create New Short URL", root_path, id: "logo-right" %></li>
        </ul>
      </nav>
    <% end %>
  </div>
</header>